<footer class="footer mt-0 col-12">
    <div class="ftr-1 bg-footer df aic t-f py-4">
        <div class="container">
            <div class="df fw">
                <div class="col-12 col-md-6 col-xl-4 py-3 pb-4 df aic jcsb">
                    <div class="wa pr-3 col-lg-4 tc pr-md-3"> <img src="upload/images/logo/bullsyatirim-light.svg"
                            class="w-6rem pl-0" /> </div>
                    <div class="col pl-lg-3--">
                        <h3 class="fw-700">Bize Ulaşın</h3> <a href="mailto:info@bullskatilim.com"
                            class="db tdn">info@bullskatilim.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="to-top tc db py-3 db dn-sm bg-bulls3 fw-700"> <i class="bi bi-chevron-up ">
        </i> <i class="bi bi-arrow-up dn">
        </i> Yukarı </div>
    <div class="bg-footer2 t-lb">
        <div class="container py-5 pb-5">
            <div class="row py-1 tc jcc t-lg-l">
                <div class="col-6 col-md-4 col-lg mb-4 mb-0-lg">
                    <div class="pr-1">
                        <h3 class="fw-500 f-11">Hakkımızda</h3>
                        <div class="">
                            <a href="biz-kimiz" class="link fw-200 db py-1 f-1">Biz Kimiz</a>
                            <a href="kurumsal-kisisel-verilerin-korunmasi" class="link fw-200 db py-1 f-1">Kişisel
                                Verilerin Korunması</a>
                            <a href="sikca-sorulan-sorular" class="link fw-200 db py-1 f-1">Sıkça Sorulan
                                Sorular</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg mb-4 mb-0-lg">
                    <div class="pr-1">
                        <h3 class="fw-500 f-11">Hizmetler</h3>
                        <div class="">
                            <a href="yatirim-danismanligi" class="link fw-200 db py-1 f-1">Yatırım
                                Danışmanlığı</a>
                            <a href="kurumsal-finansman-hizmetleri" class="link fw-200 db py-1 f-1">Kurumsal
                                Finansman</a>
                            <a href="ucretler-ve-masraflar" class="link fw-200 db py-1 f-1">Ücretler ve
                                Masraflar</a>
                            <a href="bireysel-portfoy-yonetimi" class="link fw-200 db py-1 f-1">Bireysel
                                Portföy
                                Yönetimi</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg mb-4 mb-0-lg">
                    <div class="pr-1">
                        <h3 class="fw-500 f-11">Piyasalar</h3>
                        <div class="">
                            <a href="en-cok-dusenler" class="link fw-200 db py-1 f-1">Hisse Senedi
                                Piyasası En Çok Düşenler</a>
                            <a href="en-cok-artanlar" class="link fw-200 db py-1 f-1">Hisse Senedi Piyasası
                                En
                                Çok Artanlar</a>
                            <a href="#market-data" class="link fw-200 db py-1 f-1">USDTRY Ve EURTRY Son
                                Fiyatlar</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg mb-4 mb-0-lg">
                    <div class="pr-1">
                        <h3 class="fw-500 f-11">Üyelik İşlemleri</h3>
                        <div class="">
                            <a href="<%= site %>/register" class="link fw-200 db py-1 f-1">Yatırım Hesabı
                                Açın</a>
                            <a href="<%= site %>/login" class="link fw-200 db py-1 f-1" target="_blank">E-Şube</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg mb-4 mb-0-lg">
                    <div class="pr-1">
                        <h3 class="fw-500 f-11">Bilgilendirme</h3>
                        <div class="">
                            <a href="sikca-sorulan-sorular" class="link fw-200 db py-1 f-1">Yatırımcı
                                Rehberi</a>
                            <a href="zaman-asimi-olan-musteriler-listesi" class="link fw-200 db py-1 f-1">Zaman
                                Aşımı Olan Müşteriler Listesi</a>
                            <a href="mali-tablolar" class="link fw-200 db py-1 f-1">Mali Tablolar</a>
                            <a href="https://borsaistanbul.com/tr/sayfa/10/mevzuat" class="link fw-200 db py-1 f-1"
                                target="_blank">Borsa İstanbul Mevzuatı</a>
                            <a href="https://mevzuat.spk.gov.tr/" class="link fw-200 db py-1 f-1" target="_blank">SPK
                                Mevzuatı</a>
                            <a href="gizlilik-politikasi" class="link fw-200 db py-1 f-1">Gizlilik
                                Politikası</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-footer2 footer-line pb-4 pt-5">
        <div class="container mb-5">
            <div class="df jcc jcfe-md">
                <div class="dropdown language-selection t-f ta f-08 usn " style="width:200px;">
                    <div class="dropdown-toggle p-3 ra-1 b">
                        <img src="/upload/main/langs/tr.svg" alt="lang" />TR
                    </div>
                </div>
            </div>
        </div>
        <div class="px-2 px-md-0">
            <div class="container mb-4 ra-1 p-3 b"> <b class="db pb-2">Sermaye Piyasası Kurulunun, Yatırım
                    Hizmetleri ve Faaliyetleri ile Yan Hizmetlere İlişkin Esaslar Hakkında Tebliği Uyarınca
                    Yayımlanan Uyarı Notu :</b> <i class="px-0 db">"Burada yer alan yatırım bilgi, yorum ve
                    tavsiyeleri yatırım danışmanlığı kapsamında değildir. Yatırım danışmanlığı hizmeti,
                    yetkili
                    kuruluşlar tarafından kişilerin risk ve getiri tercihleri dikkate alınarak kişiye özel
                    sunulmaktadır. Burada yer alan yorum ve tavsiyeler ise genel niteliktedir. Bu tavsiyeler
                    mali
                    durumunuz ile risk ve getiri tercihlerinize uygun olmayabilir. Bu nedenle, sadece burada
                    yer
                    alan bilgilere dayanılarak yatırım kararı verilmesi beklentilerinize uygun sonuçlar
                    doğurmayabilir."</i>
                <div class="pt-2">Copyright © 2024 Bulls Yatırım Menkul Değerler All Rights Reserved.</div>
            </div>
        </div>
    </div>
    <div class="footer-4 bg-footer2 t-lb copyright py-4">
        <div class="container px-0 pb-5 pb-md-0">
            <div class="df aic jcsb-md fdc fdr-md f-09 pb-5 pb-md-0 mb-4 mb-md-0">
                <div class="tc"> ©2025 <b class="fw-700 t-bulls3">Bulls Yatırım Menkul Değerler A.Ş.</b> Tüm
                    Hakları
                    Saklıdır </div>
                <div class="fw-300 py-2">Site Creation & Technology by <a href="https://mindlook.agency" target="_blank"
                        class=" fw-500 t-trkz"> Mindlook</a>
                </div>
            </div>
        </div>
    </div>
</footer>