<head>
  <meta name="theme-color" content="#0086CD">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=3.0, user-scalable=yes">
  <link rel="shortcut icon" type="image/webp" href="upload/main/icon.webp">

  <link rel="stylesheet" type="text/css" href="lib/css/fa.min.css">
  <link rel="stylesheet" type="text/css" href="lib/css/bootstrap-icons1.11.0.css">


  <link rel="stylesheet" type="text/css" href="assets/bootstrap5.css?v=1.02146">
  <link rel="stylesheet" type="text/css" href="assets/style.css?v=1.02146">
  <link rel="stylesheet" type="text/css" href="lib/css/aos.css?v=1.02146">

  <script src="https://bundles.efilli.com/bullsyatirim.com.prod.js"></script>

  <script src="lib/js/jquery.js"></script>
  <script src="assets/ortak.js?v=1.02146"></script>
  <script src="assets/global.js?v=1.02146"></script>
  <script src="xml_matriksdata/data_graph.js?v=202511022230"></script>
  <script src="lib/fancy/jquery.fancybox.min.js?v=1.02146"></script>
  <script src="assets/sorttable.js?v=1.02146"></script>
  <script src="assets/apexcharts.js?v=1.02146"></script>
  <link rel="stylesheet" type="text/css" href="/lib/fancy/jquery.fancybox.min.css?v=1.02146">


  <script>
    window.addEventListener('online', () => { became_online(); console.log('Became  online') });
    window.addEventListener('offline', () => { became_offline(); console.log('Became offline') });
  </script>



  <title>Integral Yatırım</title>

  <noscript>
    <h3 style="color:red"> Web sitemizi kullanabilmek için javascript özelliğini etkinleştirmeniz gerekmektedir.
    </h3>
  </noscript>

  <meta property="og:locale" content="tr_TR">
  <meta property="og:site_name" content="Integral Yatırım" />
  <meta property="og:url" content="" />
  <meta property="og:title" content="Integral Yatırım" />
  <meta property="og:description" content="" />

  <meta name="description" content="" />


  <meta property="og:image" content="upload/main/social.webp">
  <meta property="og:image:secure_url" content="upload/main/social.webp">


  <meta property="og:type" content="website" />
  <meta property="og:image:type" content="image/webp">
  <meta name="twitter:image" content="upload/main/social.webp">

  <script>
    var jsrv = "";

    $(function () {
      function fiximg(t) {
        var old = t.attr("src");
        t.attr("data-old-href", old).attr("src", "upload/main/default.png").attr('alt', old);
      }
      $('img').on("error", function () {
        fiximg($(this));
      });
    });
  </script>

</head>