<!DOCTYPE HTML>
<html lang="tr">

<head>
  <meta name="theme-color" content="#0086CD">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=3.0, user-scalable=yes">
  <link rel="shortcut icon" type="image/webp" href="upload/main/icon.webp">

  <link rel="stylesheet" type="text/css" href="lib/css/fa.min.css">
  <link rel="stylesheet" type="text/css" href="lib/css/bootstrap-icons1.11.0.css">


  <link rel="stylesheet" type="text/css" href="assets/bootstrap5.css?v=1.02146">
  <link rel="stylesheet" type="text/css" href="assets/style.css?v=1.02146">
  <link rel="stylesheet" type="text/css" href="lib/css/aos.css?v=1.02146">

  <script src="https://bundles.efilli.com/bullsyatirim.com.prod.js"></script>

  <script src="lib/js/jquery.js"></script>
  <script src="assets/ortak.js?v=1.02146"></script>
  <script src="assets/global.js?v=1.02146"></script>
  <script src="xml_matriksdata/data_graph.js?v=202511022231"></script>
  <script src="lib/fancy/jquery.fancybox.min.js?v=1.02146"></script>
  <script src="assets/sorttable.js?v=1.02146"></script>
  <script src="assets/apexcharts.js?v=1.02146"></script>
  <link rel="stylesheet" type="text/css" href="/lib/fancy/jquery.fancybox.min.css?v=1.02146">


  <script>
    window.addEventListener('online', () => { became_online(); console.log('Became  online') });
    window.addEventListener('offline', () => { became_offline(); console.log('Became offline') });
  </script>



  <title>Duyurular</title>


  <%- include("layouts/header") %>
    <div class="main middle">
      <div class="container-lg pt-4 pt-lg-4 pb-5 liste-duyurular category">
        <div class="px-0">
          <div class="col-12 f-08">
            <div class="breadcrumb pb-2--"> <a href="" class="breadcrumb-item"> <i class="bi bi-house"></i></a> <a
                href="genel" class="breadcrumb-item">Integral Yatırım</a><a href="duyurular"
                class="breadcrumb-item">Duyurular</a> </div>
          </div>
        </div>
        <div class="df">
          <div class="sidebar usn h-100 lsn dn db-lg pr-4">
            <div class="sidebar-bottom f-12 fw-700 pt-1 pb-3"> <a href="<%= site %>/register"
                class="right-v-line bg-sdbr tdn df aic jcsb p-3 py-3 ra-1 mt-0 bs2"><span>Yatırım Hesabı
                  <br>Açın</span><img src="upload/main/sidebar_woman.png" class="ml-2" /></a> <a href="bize-ulasin"
                class="right-v-line bg-sdbr tdn df aic jcsb p-3 py-3 ra-1 mt-2 bs2"><span>Uzmanlarımıza
                  <br>Danışın</span> <img src="upload/main/sidebar_man.png" class="ml-2" /></a> </div>
            <div class="sidebar-top bg-sdbr t-f ra-1 p-45">
            </div>
          </div> <!-- category-container -->
          <div class="category-container col-12 col-lg py-3 pb-5 pt-0 px-0 px-lg-0 fix">
            <div class="category-header">
              <h1 class="pb-0 mb-0 fw-700 ">Duyurular</h1>
              <h2 class="altbaslik fw-400 db f-15 p-0 mb-1 mb-lg-2 pb-1">En Güncel Duyurular</h2>
            </div>
            <div class="cb"></div>
            <div class="load-more-container col-12 tc tl-lg"> <input type="hidden" class="si_url" value="duyurular"
                readonly /> <input type="hidden" class="loadmore_page_index" value="2" readonly /> <span
                class="loadmore cp fw-600 ra-5 b p-2 db di-lg tc px-4 mx-5 mx-lg-0"><b
                  class="t-p f-09 mr-1">&#x25BC;</b> Daha fazla yükle</span> </div>
          </div> <!-- category-container -->
        </div>
      </div>
    </div>
    <div class="print-info dn">genel/duyurular/</div>
    <%- include("layouts/footer") %>
      <div class="popup_main esube-popup-container overlay oh pf p-4 px-md-5 py-lg-5 closen dn">
        <div class="overlay-blur pa"></div>
        <div class="popup_main_container container-lg" alt="0"> <b class="closex pa"></b> <a href="<%= site %>/login"
            target="_blank" class="df aic jcc popup-inside"><img src="upload/main/popup/desktop-esube.webp"
              class="popup-img dn db-lg" /><img src="upload/main/popup/mobil-esube.webp" class="popup-img db dn-lg" />
          </a> </div>
      </div>
      </body>
      <div class="toast jstoast"></div>

      <div class="scrollup pf r-0 mb-5 mx-3 aic jcc ra-circle">
        <i class="fa fa-angle-up dn"></i>
        <i class="bi bi-chevron-up"></i>
      </div>


      <div class="dn">
        <div class="spinner-border loading t-s vam mr-2"></div>
      </div>

</html>