<!DOCTYPE HTML>
<html lang="tr">
<%- include("layouts/head") %>
<body> 
<%- include("layouts/header") %>
<div class="main middle"> <div class="bg-bulls2"> <div class="hisse-header bg-bulls t-f py-1 py-md-4"> <div class="container py-3"> <h1 class="f-16 py-1">En Çok Düşenler</h1> </div> </div> <div class="container-lg pt-5 pb-4"> <div class="df mx-a ra-1 oh b col-12 col-md-6 tc tdn fw-600 mb-2 tabn"> <a href="en-cok-artanlar" class="col-4 p-2 bg-f">En Çok Artanlar</a> <a href="en-cok-dusenler" class="col-4 p-2 br bl bg-bulls t-f">En Çok Düşenler</a> <a href="en-cok-islem-gorenler" class="col-4 p-2 bg-f">En Çok İşlem Görenler</a> </div> <div class="df py-4"> <div class="hisse-container col-12 ra-2 bs2 oa-x asfs"> <table class="hisse-table sortable bs1 w-100"> <thead class="usn"> <tr class="bg-lb"> <th class="sorttable_alpha tl pl-4">HİSSE SENETLERİ</th> <th>SON FİYAT TL</th> <th>GÜNLÜK GETİRİ</th> <th>EN DÜŞÜK</th> <th>EN YÜKSEK</th> <th>HACİM TL</th> <th>HACİM LOT</th> </tr> </thead> <tbody> <tr h="T">
<td title="TEK ART INSAAT TICARET TURIZM AS" sortKey="TEKTU">
<i class="bi bi-arrow-down-right t-d">
</i> TEKTU - <b class="dn--"> TEK ART INSAAT TICARET TURIZM AS</b> </td>
<td>19,17</td>
<td sortKey="-10,00">-10,00 % <i class="bi bi-arrow-down t-d">
</i>
</td>
<td>19,17</td>
<td>21,22</td>
<td sortKey="296544219">296.544.219</td>
<td sortKey="15201705">15.201.705</td>
</tr>
<tr h="C">
<td title="CREDITWEST FACTORING" sortKey="CRDFA">
<i class="bi bi-arrow-down-right t-d">
</i> CRDFA - <b class="dn--"> CREDITWEST FACTORING</b> </td>
<td>42,00</td>
<td sortKey="-9,99">-9,99 % <i class="bi bi-arrow-down t-d">
</i>
</td>
<td>42,00</td>
<td>46,66</td>
<td sortKey="39604909">39.604.909</td>
<td sortKey="922795">922.795</td>
</tr>
<tr h="D">
<td title="DOGUSAN BORU SANAYII VE TICARET" sortKey="DOGUB">
<i class="bi bi-arrow-down-right t-d">
</i> DOGUB - <b class="dn--"> DOGUSAN BORU SANAYII VE TICARET</b> </td>
<td>58,85</td>
<td sortKey="-9,95">-9,95 % <i class="bi bi-arrow-down t-d">
</i>
</td>
<td>58,85</td>
<td>70,00</td>
<td sortKey="73745070">73.745.070</td>
<td sortKey="1167447">1.167.447</td>
</tr>
<tr h="E">
<td title="ESENBOGA ELEKTRIK" sortKey="ESEN">
<i class="bi bi-arrow-down-right t-d">
</i> ESEN - <b class="dn--"> ESENBOGA ELEKTRIK</b> </td>
<td>7,81</td>
<td sortKey="-9,92">-9,92 % <i class="bi bi-arrow-down t-d">
</i>
</td>
<td>7,81</td>
<td>8,43</td>
<td sortKey="1979143333">1.979.143.333</td>
<td sortKey="250797132">250.797.132</td>
</tr>
<tr h="G">
<td title="GIPTA OFIS KIRTASIYE" sortKey="GIPTA">
<i class="bi bi-arrow-down-right t-d">
</i> GIPTA - <b class="dn--"> GIPTA OFIS KIRTASIYE</b> </td>
<td>100,00</td>
<td sortKey="-9,83">-9,83 % <i class="bi bi-arrow-down t-d">
</i>
</td>
<td>100,00</td>
<td>110,80</td>
<td sortKey="241035946">241.035.946</td>
<td sortKey="2330494">2.330.494</td>
</tr>
<tr h="M">
<td title="MERCAN KIMYA" sortKey="MERCN">
<i class="bi bi-arrow-down-right t-d">
</i> MERCN - <b class="dn--"> MERCAN KIMYA</b> </td>
<td>25,44</td>
<td sortKey="-9,34">-9,34 % <i class="bi bi-arrow-down t-d">
</i>
</td>
<td>25,44</td>
<td>28,12</td>
<td sortKey="322769675">322.769.675</td>
<td sortKey="12092431">12.092.431</td>
</tr>
<tr h="L">
<td title="LINK BILGISAYAR SISTEMLERI" sortKey="LINK">
<i class="bi bi-arrow-down-right t-d">
</i> LINK - <b class="dn--"> LINK BILGISAYAR SISTEMLERI</b> </td>
<td>314,00</td>
<td sortKey="-7,58">-7,58 % <i class="bi bi-arrow-down t-d">
</i>
</td>
<td>312,00</td>
<td>348,50</td>
<td sortKey="989672967">989.672.967</td>
<td sortKey="3064473">3.064.473</td>
</tr>
<tr h="A">
<td title="ATLANTIS YATIRIM HOLDING A.S." sortKey="ATSYH">
<i class="bi bi-arrow-down-right t-d">
</i> ATSYH - <b class="dn--"> ATLANTIS YATIRIM HOLDING A.S.</b> </td>
<td>84,70</td>
<td sortKey="-7,43">-7,43 % <i class="bi bi-arrow-down t-d">
</i>
</td>
<td>82,55</td>
<td>91,00</td>
<td sortKey="14223472">14.223.472</td>
<td sortKey="171080">171.080</td>
</tr>
<tr h="A">
<td title="ALKIM KAGIT SANAYI VE TIC A.S." sortKey="ALKA">
<i class="bi bi-arrow-down-right t-d">
</i> ALKA - <b class="dn--"> ALKIM KAGIT SANAYI VE TIC A.S.</b> </td>
<td>11,30</td>
<td sortKey="-7,22">-7,22 % <i class="bi bi-arrow-down t-d">
</i>
</td>
<td>11,10</td>
<td>12,46</td>
<td sortKey="197902055">197.902.055</td>
<td sortKey="17209704">17.209.704</td>
</tr>
<tr h="G">
<td title="GUNDOGDU GIDA" sortKey="GUNDG">
<i class="bi bi-arrow-down-right t-d">
</i> GUNDG - <b class="dn--"> GUNDOGDU GIDA</b> </td>
<td>93,90</td>
<td sortKey="-6,05">-6,05 % <i class="bi bi-arrow-down t-d">
</i>
</td>
<td>93,90</td>
<td>99,00</td>
<td sortKey="87949769">87.949.769</td>
<td sortKey="907154">907.154</td>
</tr> </tbody> </table> </div> </div> </div> </div> </div> <div class="print-info dn">en-cok-dusenler</div> 
<%- include("layouts/footer") %>
 <div class="popup_main esube-popup-container overlay oh pf p-4 px-md-5 py-lg-5 closen dn"> <div class="overlay-blur pa">
</div> <div class="popup_main_container container-lg" alt="0"> <b class="closex pa">
</b> <a href="https://sanalsube.bullsyatirim.com:8000/login" target="_blank" class="df aic jcc popup-inside">
<img src="upload/main/popup/desktop-esube.webp" class="popup-img dn db-lg"/>
<img src="upload/main/popup/mobil-esube.webp" class="popup-img db dn-lg"/> </a> </div> </div> </body> 	<div class="toast jstoast">
</div>
	<div class="scrollup pf r-0 mb-5 mx-3 aic jcc ra-circle">
		<i class="fa fa-angle-up dn">
</i>
		<i class="bi bi-chevron-up">
</i>
	</div>
	<div class="dn">
		<div class="spinner-border loading t-s vam mr-2">
</div>
	</div>
</html>