<!DOCTYPE HTML>
<html lang="tr">

<head>
  <meta name="theme-color" content="#0086CD">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=3.0, user-scalable=yes">
  <link rel="shortcut icon" type="image/webp" href="upload/main/icon.webp">

  <link rel="stylesheet" type="text/css" href="lib/css/fa.min.css">
  <link rel="stylesheet" type="text/css" href="lib/css/bootstrap-icons1.11.0.css">


  <link rel="stylesheet" type="text/css" href="assets/bootstrap5.css?v=1.02146">
  <link rel="stylesheet" type="text/css" href="assets/style.css?v=1.02146">
  <link rel="stylesheet" type="text/css" href="lib/css/aos.css?v=1.02146">

  <script src="https://bundles.efilli.com/bullsyatirim.com.prod.js"></script>

  <script src="lib/js/jquery.js"></script>
  <script src="assets/ortak.js?v=1.02146"></script>
  <script src="assets/global.js?v=1.02146"></script>
  <script src="xml_matriksdata/data_graph.js?v=202511022230"></script>
  <script src="lib/fancy/jquery.fancybox.min.js?v=1.02146"></script>
  <script src="assets/sorttable.js?v=1.02146"></script>
  <script src="assets/apexcharts.js?v=1.02146"></script>
  <link rel="stylesheet" type="text/css" href="/lib/fancy/jquery.fancybox.min.css?v=1.02146">


  <script>
    window.addEventListener('online', () => { became_online(); console.log('Became  online') });
    window.addEventListener('offline', () => { became_offline(); console.log('Became offline') });
  </script>



  <title>Haberler</title>


  <%- include("layouts/header") %>
    <div class="main middle">
      <div class="container-lg pt-4 pt-lg-4 pb-5 liste-haberler category">
        <div class="px-0">
          <div class="col-12 f-08">
            <div class="breadcrumb pb-2--"> <a href="" class="breadcrumb-item"> <i class="bi bi-house"></i></a> <a
                href="genel" class="breadcrumb-item">Integral Yatırım</a><a href="haberler"
                class="breadcrumb-item">Haberler</a> </div>
          </div>
        </div>
        <div class="df">
        </div>
      </div>
    </div>
    <div class="print-info dn">genel/haberler</div>
    <%- include("layouts/footer") %>
      <div class="popup_main esube-popup-container overlay oh pf p-4 px-md-5 py-lg-5 closen dn">
        <div class="overlay-blur pa"></div>
        <div class="popup_main_container container-lg" alt="0"> <b class="closex pa"></b> <a href="<%= site %>/login"
            target="_blank" class="df aic jcc popup-inside"><img src="upload/main/popup/desktop-esube.webp"
              class="popup-img dn db-lg" /><img src="upload/main/popup/mobil-esube.webp" class="popup-img db dn-lg" />
          </a> </div>
      </div>
      </body>
      <div class="toast jstoast"></div>

      <div class="scrollup pf r-0 mb-5 mx-3 aic jcc ra-circle">
        <i class="fa fa-angle-up dn"></i>
        <i class="bi bi-chevron-up"></i>
      </div>


      <div class="dn">
        <div class="spinner-border loading t-s vam mr-2"></div>
      </div>

</html>