<!DOCTYPE HTML>
<html lang="tr">
<%- include("layouts/head") %>

  <body>
    <%- include("layouts/header") %>
      <div class="main middle">
        <div class="container-lg p-5"> Sayfa Bulunamadı.. </div>
      </div>
      <div class="print-info dn">services/</div>
      <%- include("layouts/footer") %>
        <div class="popup_main esube-popup-container overlay oh pf p-4 px-md-5 py-lg-5 closen dn">
          <div class="overlay-blur pa">
          </div>
          <div class="popup_main_container container-lg" alt="0"> <b class="closex pa">
            </b> <a href="<%= site %>/login" target="_blank" class="df aic jcc popup-inside">
              <img src="upload/main/popup/desktop-esube.webp" class="popup-img dn db-lg" />
              <img src="upload/main/popup/mobil-esube.webp" class="popup-img db dn-lg" /> </a> </div>
        </div>
  </body>
  <div class="toast jstoast">
  </div>
  <div class="scrollup pf r-0 mb-5 mx-3 aic jcc ra-circle">
    <i class="fa fa-angle-up dn">
    </i>
    <i class="bi bi-chevron-up">
    </i>
  </div>
  <div class="dn">
    <div class="spinner-border loading t-s vam mr-2">
    </div>
  </div>

</html>